<template>
    <lightning-card  variant="Narrow"   icon-name="standard:account">
        <lightning-record-edit-form record-id=""
                              object-api-name="Contact"  onsuccess={handleSuccess} >

      <lightning-input-field field-name="FirstName" onclick={testFunction} >
      </lightning-input-field>
      <lightning-input-field field-name="LastName">
      </lightning-input-field>
      <lightning-input-field field-name="Email">
      </lightning-input-field>
      <lightning-button
          class="slds-m-top_small"
          variant="brand"
          type="submit"
          name="update"
          label="Update">
      </lightning-button>
      <!-- <lightning-combobox
      name="progress"
      label="Status"
      value={value}
      placeholder="Select Progress"
      options={options}
      onchange={handleChange} >
    </lightning-combobox> -->


        </lightning-record-edit-form>
    </lightning-card>
</template>