<template>
  <lightning-card  variant="Narrow"   icon-name="standard:account">
    <h3>Customer Report From</h3>
    <lightning-record-edit-form record-id=""
                              object-api-name="Customer_Report__c"  onsuccess={handleSuccess} >
     
                             
      <lightning-input-field field-name="Customer_Report__c" value={Customer_Report__c} onchange={picklistChange} >
      </lightning-input-field>
      <lightning-input-field field-name="Account__c" value={Account__c}>
      </lightning-input-field> 
      <lightning-input-field field-name="Data_Source__c" value={Data_Source__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Frequency__c" value={Frequency__c}>
      </lightning-input-field>
      <lightning-input-field field-name="FTP__c" value={FTP__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Note__c" value={Note__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Parcel__c" value={Parcel__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Schedule__c" value={Schedule__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Template__c" value={Template__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Title__c" value={Title__c}>
      </lightning-input-field>
      <lightning-input-field field-name="Name" value={Name}>
      </lightning-input-field>
     
      <lightning-button
          class="slds-m-top_small"
          variant="brand"
          type="submit"
          name="Action"
          label="Some Action">
      </lightning-button>
    

  </lightning-record-edit-form>
</lightning-card>
</template>